@model CatalogoVendas.Core.Models.TbVendas

@{
    ViewData["Title"] = "Exclusão de Vendas";
}

<div class="text-center">
    <h1>Excluir Venda</h1>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class="col-sm-10">
            @Model.DataVenda.Value.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.RazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioCadastroNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioCadastroNavigation.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd class="col-sm-10">
            R$ @Html.DisplayFor(model => model.ValorVenda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmitidoNf)
        </dt>
        <dd class="col-sm-10">
            @if (Model.EmitidoNf == true)
            {
                @Html.Raw("Sim")
            }
            else
            {
                @Html.Raw("Não")
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenda" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>
