@model IEnumerable<CatalogoVendas.Core.Models.TbVendas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmitidoNf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCadastroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmitidoNf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioCadastroNavigation.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVenda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVenda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
