@model IEnumerable<CatalogoVendas.Core.Models.TbVendas>

@{
    ViewData["Title"] = "Cadastro de Vendas";
}

<div class="text-center">
    <h1>Cadastro de Vendas</h1>
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Nova Venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCadastroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmitidoNf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DataVenda.Value.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioCadastroNavigation.Nome)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.ValorVenda)
                </td>
                <td>
                    @if (item.EmitidoNf == true)
                    {
                        @Html.Raw("Sim")
                    }
                    else
                    {
                        @Html.Raw("Não")
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdVenda">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdVenda">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdVenda">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
