@model IEnumerable<CatalogoVendas.Core.Models.TbUsuario>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Cadastro de Usuários</h1>
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td class="text-right">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdUsuario">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUsuario">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
