@model CatalogoVendas.Core.Models.TbEmpresa

@{
    ViewData["Title"] = "Detalhes da Empresa";
}

<div class="text-center">
    <h1>Detalhes da Empresa</h1>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioCadastroNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioCadastroNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdEmpresa">Editar</a> 
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>