@model CatalogoVendas.Core.Models.TbSegmentoEmpresa

@{
    ViewData["Title"] = "Detalhes do Segmento";
}

<div class="text-center">
    <h1>Detalhes do Segmento</h1>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DesSegmento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DesSegmento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Ativo == true)
                {
                    @Html.Raw("Ativo");
                }
                else
                {
                    @Html.Raw("Inativo");
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.RazaoSocial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSegmento" class="btn btn-primary">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
